/*=====start common-styles=====*/
body {
  font-family: "Arial";
  margin: 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}
.section-txt {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
/*=====end common-styles=====*/
/*=====start page-header=====*/
.page-header {
  width: 100%;
  background-color: #445161;
  padding: 30px 50px 42px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.page-header-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 30px 0;
}
.page-header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400
}
.page-header-list-item {
  padding: 0 0 0 40px;
  box-sizing: border-box;
  position: relative;
}
.page-header-list-item::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 4px;
  background-image: url(../img/check_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.page-header-pic {
  display: block;
  width: 469px;
  height: 214px;
  background-color: #ffffff;
  align-self: center;
}
/*=====end page-header=====*/
/*=====start about-product=====*/
.about-product {
  width: 100%;
  padding: 42px 53px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.about-product-wrp {
  max-width: 680px;
}
.about-product-title {
  margin: 0 0 24px 0;
}
.about-product-txt {
  margin: 0 0 11px 0;
}
.about-product-txt:last-child {
  margin: 0;
  }
.about-product-pic {
  display: block;
  width: 430px;
  height: 245px;
  background-color: #445161;
}
/*=====end about-product=====*/
/*=====start dignity=====*/
.dignity {
  width: 100%;
  padding: 42px 53px 23px 53px;
  box-sizing: border-box;
}
.dignity-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin: 0 0 21px 0;
}
.dignity-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dignity-list-item {
  padding: 0 0 0 40px;
  margin-bottom: 27px;
  position: relative;
  max-width: 46%;
}
.dignity-list-item::before {
  content: "+";
  display: block;
  color: #fff;
  background-color: #445161;
  text-align: center;
  line-height: 32px;
  font-size: 26px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 6px;
  left: 0;
}
/*=====end dignity=====*/
/*=====start screenshots=====*/
.screenshots {
  width: 100%;
  padding: 50px 53px 40px 53px;
  box-sizing: border-box;
}
.screenshots-title {
  text-align: center;
  margin: 0 0 21px 0;
}
.screenshot-wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screenshots-item {
  display: flex;
  max-width: 49%;
  margin: 0 0 20px 0;
}
.screenshots-item-pic {
  display: block;
  width: 200px;
  height: 150px;
  background-color: #445161;
  align-self: center;
}
.screenshots-item-wrp {
  margin-left: 14px;
}
.screenshots-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 10px 0;
}
.screenshots-item-txt {
  margin: 0 0 0 0;
}
/*=====end screenshots=====*/
/*=====start reviews=====*/
.reviews {
  width: 100%;
  padding: 0 53px 40px 53px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews-title {
  width: 100%;
  text-align: center;
  margin: 20px 0 30px 0;
}
.reviews-item {
  width: 48%;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.reviews-item-img {
  display: block;
  background-color: #445161;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.reviews-item-txt {
  width: 80%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;  
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
  background-color: #ebebeb;
}
.reviews-item-txt::before {
  content: "";
  display: block;
  border: 13px solid transparent; 
  border-right: 13px solid #ebebeb;
  position: absolute;
  top: 35px;
  left: -26px;
}
.reviews-item-txt-author {
  display: block;
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
}
/*=====end reviews=====*/
/*=====start price=====*/
.price {
  width: 100%;
  padding: 0 53px 50px 53px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.price-title {
  text-align: center;
  width: 100%;
  margin: 0 0 29px 0;
}
.price-item {
  border: 3px solid #445161;
  border-radius: 10px;
  background-color: #445161;
  width: 25%;
  margin: 0 20px 0 0;
  padding: 16px 0 20px 0;
  box-sizing: border-box;
}
.price-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 0 16px 16px 16px;
  margin: 0;
  box-sizing: border-box;
}
.price-item-sum {
  background-color: #fff;
  display: block;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  text-align: center;
  padding: 18px;
  box-sizing: border-box;
}
.price-item-list {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 19px 0 19px 0;
  list-style-position: inside;
  padding: 0 20px;
  box-sizing: border-box;
}
.price-item-btn {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  text-decoration: none;
  background-color: #fff;
  display: block;
  width: 260px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 0;
  box-sizing: border-box;
  border-radius: 10px;
/*=====end price=====*/